# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


*.suo
*.chw
*.msi
*.pyc
*.user
*.cache
*.StyleCop
*.pidb
*.resources
*.userprefs
*Thumbs.db
PineForest/_*
PineForest/Releases
PineForest/Reference
PineForest/CSIGSC/bin
PineForest/CSIGSC/obj
PineForest/CSIGSC/bin/*
PineForest/CSIGSC/obj/*

PineForest/PineForest.CommonLayer/bin
PineForest/PineForest.CommonLayer/obj
PineForest/PineForest.CommonLayer/bin/*
PineForest/PineForest.CommonLayer/obj/*


PineForest/PineForest.DataLayer/bin
PineForest/PineForest.DataLayer/obj
PineForest/PineForest.DataLayer/bin/*
PineForest/PineForest.DataLayer/obj/*

PineForest/PineForest/bin
PineForest/PineForest/obj
PineForest/PineForest/bin/*
PineForest/PineForest/obj/*

PineForest/packages/*

